<% if user_signed_in? %>


<h2>Selecione suas categorias preferidas!</h2>

<%= form_tag({ controller: "category", action: "submit" }, method: "post") do %>
	<% @category_list.each do |category| %>

	<div>
	  <input type="checkbox" id="<%= category.tag %>" name="categories_ids[]" value="<%= category.id %>" 
		<% if @user.categories.exists?(category.id) %>
			checked
		<% end %>>
	  <label for="<%= category.tag %>"><%= category.tag %></label>
	</div>
	<% end %>

	<input type="submit" value="Salvar">
<% end %>





<% else %>	
<h2 align="center">É necessário estar Logado para selecionar as categorias preferidas.</h2>
<p>
<div align="center">
	<%= button_to "Redirecionar para Entrar",  new_user_session_path, method: "get"%>
</div>
<p>
<div align="center">
	<%= button_to "Redirecionar para Cadastrar",  new_user_registration_path, method: "get"%>
</div>
<% end %>
