<script>
	function upvoteID(id){
    		$.ajax({
       		'url' : '/news/like',
        	'type' : 'GET',
        	'data' : {id},
        	'success' : function(data) {              
            		document.getElementById("like_button_" + id).innerHTML = data
        	},
        	'error' : function(request,error)
        	{
            	alert("Erro no sistema!");
        	}
    		});
	}

	function downvoteID(id){
    		$.ajax({

       		'url' : '/news/dislike',
        	'type' : 'GET',
        	'data' : {id},
        	'success' : function(data) {              
            		document.getElementById("like_button_" + id).innerHTML = data
        	},
        	'error' : function(request,error)
        	{
            	alert("Erro no sistema");
        	}
    		});
	}
	
	function downVoteImage(x) {
		x.classList.toggle("fa-thumbs-down");
	} 
</script>

<div class="card border-light mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text"><%= strip_tags(item.summary) %></p>
	<a href="<%= item.url %> "target=_blank class="card-link">
        <button type="button" class="btn btn-primary">Ler a notícia</button>
	</a>
	<a target=_blank class="card-link">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<button type="button" onclick="upvoteID(<%= item.id %>)" class="btn btn-primary">
	<i class="fa fa-thumbs-up"></i>
	<button type="button" onclick="downvoteID(<%= item.id %>)" class="btn btn-primary">
	<i class="fa fa-thumbs-down"></i>
	</button>
	</button>
	<span id="like_button_<%= item.id %>" class="badge"><%= item.access%></span>		
    </div>	
</div>
