<!-- Script para reconhecer o acesso ao link e registrar no banco de dados,
     ele acessa o banco de dados buscando a notícia com certo ID e atualiza a coluna "access"
     incrementando +1 acesso. -->
<script> 
	function access_counter(id) {
    	$.ajax({
       		'url' : '/news/access',
        	'type' : 'GET',
            'data' : {id},
            'success' : function(data) {
                document.getElementById("like_button_" + id).innerHTML = data
            },
            'error' : function(request,error)
            {
            	alert("Erro no sistema!");
        	}
    	});
	}

    function save_favorite_ajax(id) {
        $.ajax({
            'url' : '/favorites/save',
            'type' : 'GET',
            'data' : {id},
            'success' : function(data) {
                document.getElementById("save_favorite_" + id).innerHTML = data
            },
            'error' : function(request,error)
            {
                alert("Erro no sistema!");
            }
        });
        location.reload();
    }

    function delete_favorite_ajax(id){
        $.ajax({
            'url' : '/favorites/delete',
            'type' : 'GET',
            'data' : {id},
            'success' : function(data) {
                document.getElementById("delete_favorite_" + id).innerHTML = data
            },
            'error' : function(request,error)
            {
                alert("Erro no sistema!");
            }
        });
        location.reload();
    }
</script>


<div class="news-card card bg-light mb-3 row d-flex flex-row">
    <% if item.image_url %>
        <div class="card-image col-sm-4" style="background-image: url('<%= item.image_url %>');"></div>
	<% end %>
	
	<%# Apenas usar uma coluna menor caso haja uma imagem %>
	<% if item.image_url %>
		<div class="card-body col-sm-8">
	<% else %>
		<div class="card-body col-sm-12">
	<% end %>
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text text-truncate"><%= strip_tags(item.summary) %></p>
	<br><br><br>
        <a href="<%= item.url %>" target=_blank class="card-link">
	<button type="button" onclick="access_counter(<%= item.id %>)" class="btn btn-dark">Ler a notícia</button>
	<span id="like_button_<%= item.id %>" class="count">
				
		<%= item.access%></span></a>
	<img src="https://image.flaticon.com/icons/png/512/37/37090.png" width="2%">
        <% if user_signed_in? %>
            <% if !current_user.news.exists?(item.id) %>
				<button onclick="save_favorite_ajax(<%= item.id %>)" class="btn btn-dark" id="save_favorite_<%= item.id %>%">Salvar nas favoritas</button>
            <% else %>
                <button onclick="delete_favorite_ajax(<%= item.id %>)" class="btn btn-dark" id="dalete_favorite_<%= item.id %>%">Excluir das favoritas</button>
            <% end %>
        <% end %>
    </div>
</div>
